.loginPage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0px;

  .logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    .logoSurveyuk {
      display: block;
    }

    .titleLogin {
      display: block;
      color: #4D8945;
      font-size: 64px;
      // align-content: space-between;
      // justify-content: space-between;
    }

    .subTitleLogin {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-size: 11px;
    }
  }
  
  .loginTerms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    bottom: 75px;

    Button {
      margin: 25px auto;
    }

    p.tnc {
      font-size: 10px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0 100px;
      text-align: center;
    }
  }
}